<div id="step4" class="step4">
  <div class="row">
    <div class="col-sm-12">
      <h1>Step 4: Submit results &amp; money</h1>
      <p class="lead">Choose a location to donate your money, then send us a report about how much you raised.</p>

    </div>
  </div>
  <div class="row bkg-red">
    <div class="col-sm-12">
      <h2>Donate your money</h2>
      <p>The following funds are organized by native leaders on the ground.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <h2>The Sacred Stone Camp</h2>
        <a href="https://www.gofundme.com/sacredstonecamp"><img src="{{ site.baseurl }}/assets/dist/images/sscamp-gofundme.jpg" class="img-thumbnail"></a>
        <br><br>
        <a href="https://www.gofundme.com/sacredstonecamp" class="btn btn-primary btn-lg" target="_blank">Donate via GoFundMe</a>
        <p>"Hau we are the Inyan wakankagapi otip-Sacred Stone Camp from the Standing Rock Sioux Tribe."</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2>Standing Rock Sioux Tribe - DAPL Donation Fund</h2>
        <p>
          <strong>Mailing:</strong><br>
          Standing Rock Sioux Tribe<br>
          Attention: Donations<br>
          PO Box D<br>
          Building #1<br>
          North Standing Rock Avenue<br>
          Fort Yates, ND 58538<br>
        </p>
        <p><strong>PayPal</strong><br>
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=TRNYF3EQBKPJ2" target="_blank"><img class="img-rounded" src="{{ site.baseurl }}/assets/dist/images/paypal.jpg" style="width:100%;"></a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h2>Legal Defense Fund</h2>
        <div class="fr-widget" data-type="badge" data-variant="tower" data-width="300" data-url="http://fnd.us/sacredstone"><a href="https://fundrazr.com" target="_blank"><img src="//d30pl5hav4s8uw.cloudfront.net/widgets/powered-by.png" alt="Powered by FundRazr"/></a></div>
      </div>
    </div>
  </div>
  <div class="row bkg-primary pad-row">
    <div class="col-md-8 col-md-offset-2">
      <h1><strong>Donate to our fund</strong></h1>
      <p class="lead">We are a collective of fundraising water protectors based out of Asheville, North Carolina.</p> 

      <p>Our goal is to raise 6 million dollars so that we can provided the necessary means for our bothers and sisters in North Dakota to winterize their camps.</p>

      <p><a href="{{ site.gofundme }}" class="btn btn-warning btn-lg"><i class="fa fa-money" aria-hidden="true"></i> Donate now</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Fill out a report of your donation</h2>
      <p>
        <a href="{{ site.forms.report }}" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open Form in New Window</a>
      </p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdacS8fNR8Rq6bjtPTSe8hXGcjbj9GZ0QgiVtX0ehTmhIF1Yg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;max-width:760px;" class="form">Loading...</iframe>
    </div>
  </div>
</div>