<div id="step1" class="step1">
  <div class="row">
    <div class="col-sm-12">
      <h1>Step 1: Register &amp; Join our Facebook Group</h1>
      <p class="lead">Register your business with us so we can promote you and keep in touch.</p>
      <p><a href="{{ site.forms.join }}" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open Form in New Window</a></p>
      <p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFspRT5dlNUcOHMH8JY6ttL92-r-G4tCJGXcXKqcs04XkduA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;max-width:760px;" class="form">Loading...</iframe></p>
      <p>
        <a href="{{ site.fbgroup }}" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Join our Facebook Group</a>
      </p>
    </div>
  </div>
</div>