<div id="step4" class="step4">
  <div class="row">
    <div class="col-sm-12">
      <h1>Step 3: Submit results and donations</h1>
      <p class="lead">Choose a location to donate your money, then send us a report about how much you raised.</p>

    </div>
    <div class="col-md-8 col-md-offset-2">
      <p><strong>Incentivize your staff:</strong> Once a month send in a gift card to your business of $10 or more. At the end of the month the team that raises the most funds gets the basket of cards. That means your team could get $1000 to $10000 worth of gift cards!</p>
      <br><br>
    </div>
  </div>
  <div class="row bkg-primary pad-row">
    <div class="col-md-8 col-md-offset-2">
      <h1><strong>Donate to our fund</strong></h1>
      <p class="lead">We are a collective of fundraising water protectors based out of Asheville, North Carolina.</p> 

      <p>Our goal is to raise 6 million dollars so that we can provided the necessary means for our bothers and sisters in North Dakota to winterize their camps.</p>

      <hr>

      <p><a href="{{ site.gofundme }}" class="btn btn-warning btn-lg"><i class="fa fa-money" aria-hidden="true"></i> Donate now via GoFundMe</a></p>

      <hr>

      <h2><strong>Mail cash or checks to:</strong></h2>
      <p class="lead">{{ site.address }}</p>
      <p class="lead">Make checks payable to: <strong>{{ site.sponsor }}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Fill out a report of your donation</h2>
      <br><br>
      <p>
        <a href="{{ site.forms.report }}" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Open Form in New Window</a>
      </p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdacS8fNR8Rq6bjtPTSe8hXGcjbj9GZ0QgiVtX0ehTmhIF1Yg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" style="width:100%;max-width:760px;" class="form">Loading...</iframe>
    </div>
  </div>
</div>