<div class="row text-center steps">
  <div class="col-sm-12">
    <h2>How to participate?</h2>
    <hr>
    <br><br>
  </div>
  <div class="col-md-3">
    <div class="step-num">
      <a href="#step1">1</a>
    </div>
    <h2><a href="#step1">Register</a></h2>
    <p>Add your business to our list</p>
  </div>
  <div class="col-md-3">
    <div class="step-num">
      <a href="#step2">2</a>
    </div>
    <h2><a href="#step2">Print Fliers &amp; Promote</a></h2>
    <p>Print out material to post at your business and teach your employees to ask "can you donate $1?"</p>
  </div>
  <div class="col-md-3">
    <div class="step-num">
      <a href="#step3">3</a>
    </div>
    <h2><a href="#step3">Collect &amp; track donations</a></h2>
    <p>Keep records of your donations so we can track our collective impact</p>
  </div>
  <div class="col-md-3">
    <div class="step-num">
      <a href="#step4">4</a>
    </div>
    <h2><a href="#step4">Submit results &amp; money</a></h2>
    <p>Send donations to the front line</p>
  </div>
</div>